{% extends "global_templates/internal_sbs.html" %}

{% load static %}

{% block stylesheets %}
<!-- Add Stylesheets here -->

<script type="text/javascript">
$(document).ready(function() {

$("#first_name").tooltip({
              position : {my : "right center+15", at : "right center"}
            });
$("#last_name").tooltip({
              position : {my : "right center+15", at : "right center"}
            });

  $('#profileExternalEditForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
           last_name:   {
                validators: {
                    notEmpty: {
                        message: 'The lastname is required'
                    },
                    regexp: {
                      regexp : /^[a-zA-Z]+$/,
                      message : 'The last name can contain only alphabetic letters'
                    },
                      stringLength: {
                      max: 30,
                      min: 1,
                      message: 'The length must be between 1 and 30'
                    }
                }
            },
          first_name:   {
                validators: {
                    notEmpty: {
                        message: 'The firstname is required'
                    },
                    regexp: {
                      regexp : /^[a-zA-Z]+$/,
                      message : 'The first name can contain only alphabetic letters'
                    },
                    stringLength: {
                      max: 30,
                      min: 1,
                      message: 'The length must be between 1 and 30'
                    }
                }
            },
            email:   {
                validators: {
                    notEmpty: {
                        message: 'The Email is required'
                    },
                    regexp: {
                      regexp: /^[a-zA-Z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|\}\~\,\.]+@[a-zA-Z0-9\-\[]+(\.[a-zA-Z0-9\-\]]+)+$/,
                      message : 'The email format is incorrect'
                    },
                      stringLength: {
                      max: 100,
                      min: 3,
                      message: 'The length must be between 3 and 100'
                    }
                }
            }

        }
    });
});
</script>

{% endblock %}


{% block navigation %}
<!-- Add Navigation here -->
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Edit {{external_user.username}}'s Profile</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form action="{% url 'internal:validate_profile_edit' external_user_id=external_user.id %}" id="profileExternalEditForm" method="post">
    {% csrf_token %}
    <input type="hidden" class="form-control" name="username" value="{{external_user.username}}" readonly>

    <div class="form-group">
      <label class="control-label">First Name</label>
      <input type="text" class="form-control" name="first_name" value="{{profile.first_name}}" title="length between 1 and 30. uppercase/lowercase/combination of both;" id="first_name" required />
    </div>

    <div class="form-group">
      <label for="control-label">Last Name</label>
      <input type="text" class="form-control" name="last_name" value="{{profile.last_name}}" title="length between 1 and 30. uppercase/lowercase/combination of both;" id="last_name" required />
    </div>

    <div class="form-group">
      <label class="control-label">Email</label>
      <input type="text" class="form-control" name="email" value="{{profile.email}}" title="length between 3 and 100. standard email format;" id="email" required />
    </div>

    <!--
    <label for="street_address">Street Address</label>
    <input type="text" class="form-control" name="street_address" value="{{profile.street_address}}" required />
    <label for="city">City</label>
    <input type="text" class="form-control" name="city" value="{{profile.city}}" required />
    <label for="STATES">State</label>
    <select class="form-control" name="state">
      {% for state in STATES %}
      <option value="{{state}}" {% if profile.state == state %}selected="selected"{% endif %}>{{state}}</option>
      {% endfor %}
    </select>
    <label for="zipcode">Zipcode</label>
    <input type="text" class="form-control" name="zipcode" value="{{profile.zipcode}}" maxlength="5" required />
    -->
    <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
  </div>
</div>
{% endblock %}
