{% extends "global_templates/internal_sbs.html" %}

{% load static %}

{% block stylesheets %}
<!-- Add Stylesheets here -->
<script type="text/javascript">
$(document).ready(function() {
$("#first_name").tooltip({
              position : {my : "right center+15", at : "right center"}
            });
$("#last_name").tooltip({
              position : {my : "right center+15", at : "right center"}
            });
$("#street_address").tooltip({
              position : {my : "right center+15", at : "right center"}
            });
$("#city").tooltip({
              position : {my : "right center+15", at : "right center"}
            });
 $("#zipcode").tooltip({
              position : {my : "right center+15", at : "right center"}
            });

  $('#profileInternalEditForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
           last_name:   {
                validators: {
                    notEmpty: {
                        message: 'The lastname is required'
                    },
                    regexp: {
                      regexp : /^[a-zA-Z]+$/,
                      message : 'The last name can contain only alphabets'
                    },
                      stringLength: {
                      max: 30,
                      min: 1,
                      message: 'The length must be between 1 and 30'
                    }
                }
            },
          first_name:   {
                validators: {
                    notEmpty: {
                        message: 'The firstname is required'
                    },
                    regexp: {
                      regexp : /^[a-zA-Z]+$/,
                      message : 'The last name can contain only alphabets'
                    },
                    stringLength: {
                      max: 30,
                      min: 1,
                      message: 'The length must be between 1 and 30'
                    }
                }
            }, email:   {
                validators: {
                    notEmpty: {
                        message: 'The Email is required'
                    },
                    regexp: {
                      regexp: /^[a-zA-Z0-9\!\#\$\%\&\'\*\+\-\/\=\?\^\_\`\{\|\}\~\,\.]+@[a-zA-Z0-9\-\[]+(\.[a-zA-Z0-9\-\]]+)+$/,
                      message : 'The email format is incorrect'
                    },
                      stringLength: {
                      max: 100,
                      min: 3,
                      message: 'The length must be between 3 and 100'
                    }
                }
            },
          street_address :  {
                validators: {
                    notEmpty: {
                        message: 'The address is required'
                    },
                    regexp: {
                      regexp : /^[a-zA-Z0-9]+(\s?[a-zA-Z0-9]+)*$/,
                      message : 'The address should contain only alphabets and single space as seperator'
                    },
                    stringLength: {
                      max: 30,
                      min: 4,
                      message: 'The length must be between 1 and 30'
                    }
                }
            },
            city :  {
                validators: {
                    notEmpty: {
                        message: 'The city is required'
                    },
                    regexp: {
                      regexp : /^[a-zA-Z]+(\s?[a-zA-Z]+)*$/,
                      message : 'The city should contain only alphabets and single space as seperator'
                    },
                    stringLength: {
                      max: 30,
                      min: 4,
                      message : 'The length must be between 4 and 30'
                    }
                }
            },
            zipcode : {
                validators: {
                    notEmpty: {
                        message: 'The zip code is required'
                    },
                    regexp: {
                      regexp : /^\d{5}$/,
                      message : 'The zip code should contain only 5 digits'
                    }
                }
            },
        }
    });
});
</script>

{% endblock %}


{% block navigation %}
<!-- Add Navigation here -->
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Edit {{internal_user.username}}'s Profile</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form action="{% url 'internal:validate_own_profile_edit' %}" method="post" id="profileInternalEditForm">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label">First Name</label>
      <input type="text" class="form-control" name="first_name" value="{{profile.first_name}}" title="length between 1 and 30. uppercase/lowercase/combination of both;" data-placement="right" id="first_name" required />
    </div>

    <div class="form-group">
      <label class="control-label">Last Name</label>
      <input type="text" class="form-control" name="last_name" value="{{profile.last_name}}" title="length between 1 and 30. uppercase/lowercase/combination of both; " id="last_name" required />
    </div>

    <div class="form-group">
      <label class="control-label">Email</label>
      <input type="text" class="form-control" name="email" value="{{profile.email}}" title="length between 3 and 100. standard email format;" id="email" required />
    </div>

    <div class="form-group">
      <label class="control-label">Street Address</label>
      <input type="text" class="form-control" name="street_address" value="{{profile.street_address}}" title="between 4 and 30. upper OR lowercase OR digit OR combination of all ; should not start or end with space; only one space allowed between characters. " id="street_address" required />
    </div>

    <div class="form-group">
      <label class="control-label">City</label>
      <input type="text" class="form-control" name="city" value="{{profile.city}}"  title="length between 4 and 30. upper OR lowercase OR combination of both; should not start or end with space ;  only one space allowed between characters." id="city" required />
    </div>

    <div class="form-group">
      <label class="control-label">State</label>
      <select class="form-control" name="state">
      {% for state in STATES %}
      <option value="{{state}}" {% if profile.state == state %}selected="selected"{% endif %}>{{state}}</option>
      {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label class="control-label">Zipcode</label>
      <input type="text" class="form-control" name="zipcode" value="{{profile.zipcode}}" maxlength="5" title="Only 5 digits are allowed" id="zipcode" required />
      <input type="submit" class="btn btn-primary" value="Submit" />
    </div>

    </form>
  </div>
</div>
{% endblock %}
