{% extends "global_templates/internal_sbs.html" %}

{% load static %}

{% block stylesheets %}
<!-- Add stylesheets or javascript here !-->
{% endblock %}


{% block navigation %}
<!-- Navigation here !-->
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Welcome {{first_name}} {{last_name}}</h1>
    <h2> This is the {{user_type}} page</h2>
  </div>
</div>

<br />

 <!-- Menu option details : pls check the links in internal_sbs.html
   Admin :          Non-Critical Transactions , External User Profile
   System Manager:  Critical Transactions, Non-Critical Transactions, External User Profile, 
   Regular Emp: Non-Critical Transactions , External User Profile

   -->

{% endblock %}
