{% extends "global_templates/internal_sbs.html" %}

{% load static %}

{% block stylesheets %}
<!-- Add stylesheets or javascript here !-->
{% endblock %}


{% block navigation %}
<!-- Navigation here !-->
{% endblock %}

{% block content %}

{% if error_message %}
<div class="row">
  <div class="col-md-12">
    <h1>{{error_message}}</h1>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <h1>List of Internal Non-Critical Transactions</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Initiator</th>
        <th>Description</th>
        <th>Time Created</th>
        <th>Status</th>
        <th>Resolver</th>
        <th>Time Resolved</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{transaction.id}}</td>
        <td>{{transaction.type_of_transaction}}</td>
        <td>{{transaction.initiator.username}}</td>
        <td>{{transaction.description}}</td>
        <td>{{transaction.time_created}}</td>
        <td>{{transaction.status}}</td>
        {% if transaction.resolver %}
        <td>{{transaction.resolver.username}}</td>
        <td>{{transaction.time_resolved}}</td>
        {% else %}
        <td>Unresolved</td>
        <td>Unresolved</td>
        {% endif %}
        <td>
          <form action="{% url 'internal:validate_external_noncritical_transaction_access_request_approval' transaction_id=transaction.id %}" method="post">
            {% csrf_token %}<input type="submit" class="btn btn-primary" value="Approve" />
          </form>
          <form action="{% url 'internal:validate_external_noncritical_transaction_access_request_denial' transaction_id=transaction.id %}" method="post">
            {% csrf_token %}<input type="submit" class="btn btn-warning" value="Deny" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
{% endblock %}
