{% extends "global_templates/internal_sbs.html" %}

{% load static %}

{% block stylesheets %}
<!-- Add Stylesheets here -->
{% endblock %}


{% block navigation %}
<!-- Add Navigation here -->
{% endblock %}

{% block content %}
<h1>Activate Credit Card Late Payment Functions Manually</h1>
{% if message %}
<p>{{message}}</p>
{% endif %}
<br />
<div class="row">
  <div class="col-md-6">
    <form action="{% url 'internal:bineeta_cron_job_late_charge_validate' %}" method="post">
      {% csrf_token %}
      <label>Only at the first day of every month, charge any credit cards that are not fully payed.</label>
      <br />
      <input type="submit" class="btn btn-info" value="Run it" />
    </form>
  </div>
  <div col="col-md-6">
    <form action="{% url 'internal:bineeta_cron_job_daily_late_charge_validate' %}" method="post">
      {% csrf_token %}
      <label>Check and charge any non-fully payed, late credit cards daily.</label>
      <br />
      <input type="submit" class="btn btn-info" value="Run it" />
    </form>
  </div>
</div>
{% endblock %}
