{% extends "global_templates/internal_sbs.html" %}

{% load static %}

{% block stylesheets %}
<!-- Add Stylesheets here -->
{% endblock %}


{% block navigation %}
<!-- Add Navigation here -->
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Credit card Page for {{user.username}}</h1>
  </div>
</div>

{% if credit_card %}
<table class="table">
  <thead>
    <tr>
      <th>Credit card number</th>
      <th>Temporary Remaining Credit</th>
      <th>Official Remaining Credit</th>
      <th>Late fees</th>
      <th>Days Late</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{credit_card.creditcard_number}}</td>
      <td>{{credit_card.charge_limit}}</td>
      <td>${{credit_card.remaining_credit}}</td>
      <td>${{credit_card.late_fee}}</td>
      <td>{{credit_card.days_late}}</td>
    </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>
{% endif %}

{% endblock %}
