{% extends "global_templates/internal_sbs.html" %}

{% load static %}

{% block stylesheets %}
<!-- Add Stylesheets here -->
{% endblock %}


{% block navigation %}
<!-- Add Navigation here -->
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Checking Account for {{user.username}}</h1>
  </div>
</div>

{% if checking_account %}
<table class="table">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Routing Number</th>
      <th>Current Balance</th>
      <th>Active Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{checking_account.id}}</td>
      <td>{{checking_account.routing_number}}</td>
      <td>${{checking_account.current_balance}}</td>
      <td>${{checking_account.active_balance}}</td>
    </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>
{% endif %}
{% endblock %}
