{% load static %}
<html>
<title>CSE545 Group 3 Secure Banking System</title>
<head>
<!--This is for Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Global CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'global_templates/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'global_templates/simple-sidebar.css' %}" />

  {% block stylesheets %}{% endblock %}
</head>
<body class="">
    <div class="container-fluid">
    <nav class="navbar navbar-top navbar-default">
        <a class="navbar-brand" href="{% url 'internal:index' %}">CSE545 Group 3 Secure Banking System</a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'internal:index' %}">Home</a>
          </li>
          {% block navigation %}
          {% endblock %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login:signout' %}">Sign-out</a>
          </li>
           <li class="nav-item">
              Welcome {{first_name}} {{last_name}}
               {{user_type}}
          </li>

        </ul>
    </nav>
    </div>

   <!-- Menu option details
   Admin :          Non-Critical Transactions , External User Profile
   System Manager:  Critical Transactions, Non-Critical Transactions, External User Profile,
   Regular Emp: Non-Critical Transactions , External User Profile

   -->
    <!--Side Navigation Bar Added Start -->
      <div id="wrapper">
        <!-- Sidebar wrapper-->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                Menu Options
                </li>
                <li>
                     <font color="#FF7F50"> Access Transactions </font>
                              {% if request.user.systemmanager %}
                              <a href="{% url 'internal:critical_transactions' %}"> &nbsp &nbsp &nbsp External Critical </a>
                              {% endif%}
                              {% if not request.user.administrator %}
                              <a href="{% url 'internal:noncritical_transactions' %}"> &nbsp &nbsp &nbsp External Non-Critical</a>
                              {% endif %}
                              {% if request.user.systemmanager or request.user.administrator %}
                              <a href="{% url 'internal:internal_critical_transactions' %}"> &nbsp &nbsp &nbsp Internal Critical </a>
                              <a href="{% url 'internal:internal_noncritical_transactions' %}"> &nbsp &nbsp &nbsp Internal Non-Critical </a>
                              {% endif %}
                </li>
                <li>
                   <font color="#FF7F50"> View External User Page</font>
                              <a href="{% url 'internal:external_user_access_request' %}"> &nbsp &nbsp &nbsp View External User Page </a>
                </li>
                {% if request.user.administrator %}
                <li>
                   <font color="#FF7F50"> Access Internal User Page</font>
                              <a href="{% url 'internal:internal_user_access_request' %}"> &nbsp &nbsp &nbsp View Internal User Page </a>
                </li>
                <li>
                   <font color="#FF7F50"> View Log Page</font>
                              <a href="{% url 'internal:view_external_log' %}"> &nbsp &nbsp &nbsp View External Log </a>
                              <a href="{% url 'internal:view_internal_log' %}"> &nbsp &nbsp &nbsp View Internal Log </a>
                              <a href="{% url 'internal:view_server_log' %}"> &nbsp &nbsp &nbsp View Server Log </a>
                </li>
                <li>
                   <font color="#FF7F50"> Credit Card Charges</font>
                              <a href="{% url 'internal:bineeta_cron_job_late_charge' %}"> &nbsp &nbsp &nbsp Monthly Cron </a>

                </li>
                {% endif %}
            </ul>
        </div>
       <!-- Side Bar Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    {% block content %}{% endblock %}
                   </div>
                </div>
            </div>
        </div>
      </div>
      <!--Side Navigation Bar Added End -->
  </body>
</html>
