{% extends "global_templates/sbs.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'create/style.css' %}" />
{% endblock %}


{% block navigation %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'login:signin' %}">Sign-in<span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block content %}
<h1>New Account Confirmation</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'create:confirmAccount' %}" method="post">
{% csrf_token %}
<label for="username">Username</label>
<input type="text" class="form-control" name="username" value="" required />
<label for="email">Email</label>
<input type="email" class="form-control" name="email" value="" required />
<label for="password">Confirmation Code (OTP)</label>
<input type="password" class="form-control" name="otpPassword" value="" required />
<label for="password">Set New Password</label>
<input type="password" class="form-control" name="newPassword" value="" required />
<label for="password">Confirm New Password</label>
<input type="password" class="form-control" name="confirmPassword" value="" required />
<label for="firstname">First Name or Business Name</label>
<input type="text" class="form-control" name="firstname" value="" required />
<label for="lastname">Last Name or Company Type (e.g. LLC, inc, corp, etc.)</label>
<input type="text" class="form-control" name="lastname" value="" required />
<label for="address">Street Address</label>
<input type="text" class="form-control" name="address" value="" required />
<label for="city">City</label>
<input type="text" class="form-control" name="city" value="" required />
<label for="state">State</label>
<input type="text" class="form-control" name="state" value="" required />
<label for="zipcode">Zip Code</label>
<input type="text" class="form-control" name="zipcode" value="" required />
<label for="personalcode">SSN or Business Code</label>
<input type="text" class="form-control" name="personalcode" value="" required />

<br></br>
<label class="radio-inline"><input type="radio" name="user_type" value="Individual Customer" checked="checked" required >Individual Customer</label>
<label class="radio-inline"><input type="radio" name="user_type" value="Merchant / Organization" required >Merchant / Organization</label>
<br></br>
<div class="g-recaptcha" data-sitekey="6LeHWAcUAAAAAL_TtxsIcRhoC3IrD6yKdJNp0E2N"></div>
<br></br>
<input type="submit" class="btn btn-default" value="Create Account" />
</form>
{% endblock %}
