{% extends "global_templates/sbs.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'create/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'global_templates/bootstrapValidator/bootstrapValidator.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'global_templates/bootstrapValidator/bootstrapValidator.min.css' %}" />
<script src="{% static 'global_templates/bootstrapValidator/bootstrapValidator.js' %}"> </script>
<script src="{% static 'global_templates/bootstrapValidator/bootstrapValidator.min.js' %}"> </script>
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<style>
      .ui-tooltip-content {
    font-size:10pt;
    font-family:Calibri;
   }
</style>

<script type="text/javascript">
$(document).ready(function() {
            $("#username").tooltip({
            	position : {my : "left+15 center", at : "right center"}
            });
         

    $('#createForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                validators: {
                    notEmpty: {
                        message: 'The username is required'
                    },
                    regexp: {
                      regexp : /^[A-Za-z0-9]+[@+.\-]{0,1}[A-Za-z0-9]+$/,
                      message : 'The user name should contain letters/digits/combination , followed by ONE optional characters @+.\- , followed by letters/digits/combination'
                    },
                    stringLength: {
                      max: 20,
                      min: 6,
                      message: 'The length must be between 6 and 20'
                    }
                }
            },
            email:   {
                validators: {
                    notEmpty: {
                        message: 'The Email is required'
                    },
                    regexp: {
                      regexp : /^[a-zA-Z0-9]+@[a-zA-Z]+\.[a-z]{2,3}$/,
                      message : 'The email format is incorrect'
                    },
                      stringLength: {
                      max: 100,
                      min: 3,
                      message: 'The length must be between 3 and 100'
                    }
                }
            }
        }
    });
});
</script>
{% endblock %}

{% block navigation %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'login:signin' %}">Sign-in<span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block content %}
<h1>Create New Account</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">        
<div class="col-md-4 col-md-offset-0">

<form id="createForm" action="{% url 'create:createUser' %}" method="post" class="form-horizontal">
{% csrf_token %}

<div class="form-group">
    <label class="control-label">New username</label>
       <input id="username" title="Length must be between 6 to 20 ; consist of uppercase/lowercase/digits/combination , followed by one optional character in the set _@+.- , followed by uppercase/lowercase/digits/combination" type="text" class="form-control" name="username" value="" maxlength="150" required/>
</div>

<div class="form-group">
    <label class="control-label">New Account Email </label>
        <input id="email" type="text" class="form-control" name="email" value="" maxlength="150" required/>
</div>

<br></br>
<div class="g-recaptcha" data-sitekey="6LeHWAcUAAAAAL_TtxsIcRhoC3IrD6yKdJNp0E2N"></div>
<br></br>

<div class="form-group">
	<input type="submit" class="btn btn-default form-control" value="Submit" />
</div>

</form>
</div>
</div>
{% endblock %}
